CustomerDetails/CustomerDetailsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://tempuri.org/CustomerDetails" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/CustomerDetails" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerDetails" targetNamespace="http://tempuri.org/CustomerDetails">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://tempuri.org/CustomerDetails" targetNamespace="http://tempuri.org/CustomerDetails">
      <xsd:complexType name="getCustomerRequest">
        <xsd:sequence>
          <xsd:element ref="CustId"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getCustomerResponse">
        <xsd:sequence>
          <xsd:element ref="CustId"/>
          <xsd:element ref="CustEmail"/>
          <xsd:element ref="CustName"/>
          <xsd:element ref="CustTel"/>
          <xsd:element ref="CustType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="addCustomerRequest">
        <xsd:sequence>
          <xsd:element ref="CustEmail"/>
          <xsd:element ref="CustId"/>
          <xsd:element ref="CustName"/>
          <xsd:element ref="CustTel"/>
          <xsd:element ref="CustType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="addCustomerResponse">
        <xsd:sequence>
          <xsd:element ref="Message"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="fault">
        <xsd:sequence>
          <xsd:element ref="Fcode"/>
          <xsd:element ref="FString"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CustId" type="xsd:int"/>
      <xsd:element name="CustName" type="xsd:string"/>
      <xsd:element name="CustType" type="xsd:string"/>
      <xsd:element name="CustEmail" type="xsd:string"/>
      <xsd:element name="CustTel" type="xsd:int"/>
      <xsd:element name="Message" type="xsd:string"/>
      <xsd:element name="Fcode" type="xsd:string"/>
      <xsd:element name="FString" type="xsd:string"/>
      <xsd:element name="getCustomerRequest" type="getCustomerRequest"/>
      <xsd:element name="getCustomerResponse" type="getCustomerResponse"/>
      <xsd:element name="addCustomerRequest" type="addCustomerRequest"/>
      <xsd:element name="addCustomerResponse" type="addCustomerResponse"/>
      <xsd:element name="fault" type="fault"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddCustomer_in">
    <wsdl:part element="addCustomerRequest" name="addCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="AddCustomer_out">
    <wsdl:part element="addCustomerResponse" name="addCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="AddCustomer_fault1">
    <wsdl:part element="fault" name="fault"/>
  </wsdl:message>
  <wsdl:message name="GetCustomer_in">
    <wsdl:part element="getCustomerRequest" name="getCustomerRequest"/>
  </wsdl:message>
  <wsdl:message name="GetCustomer_out">
    <wsdl:part element="getCustomerResponse" name="getCustomerResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCustomer_fault1">
    <wsdl:part element="fault" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="CustomerDetailsPortType">
    <wsdl:operation name="AddCustomer">
      <wsdl:input message="AddCustomer_in" name="AddCustomer_Input"/>
      <wsdl:output message="AddCustomer_out" name="AddCustomer_Output"/>
      <wsdl:fault message="AddCustomer_fault1" name="AddCustomer_Fault"/>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input message="GetCustomer_in" name="GetCustomer_Input"/>
      <wsdl:output message="GetCustomer_out" name="GetCustomer_Output"/>
      <wsdl:fault message="GetCustomer_fault1" name="GetCustomer_Fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerDetailsSOAP_HTTP_Binding" type="CustomerDetailsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddCustomer_Input">
        <soap:body parts="addCustomerRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddCustomer_Output">
        <soap:body parts="addCustomerResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AddCustomer_Fault">
        <soap:fault name="AddCustomer_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetCustomer_Input">
        <soap:body parts="getCustomerRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCustomer_Output">
        <soap:body parts="getCustomerResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GetCustomer_Fault">
        <soap:fault name="GetCustomer_Fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerDetailsSOAP_HTTP_Service">
    <wsdl:port binding="CustomerDetailsSOAP_HTTP_Binding" name="CustomerDetailsSOAP_HTTP_Port">
      <soap:address location="http://localhost:7800/Customer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
